@using Prank.Model;
@model List<ReferralInviteListModel>

<table class="table table-bordered table-hover">
    <thead class="thead-light ">
        <tr>
            <th scope="col">Device Key</th>
            <th scope="col">Referring User</th>
            <th scope="col">Status</th>
            <th scope="col">Gold Bar For Referring User</th>
            <th scope="col" class="wd200">Created On</th>
        </tr>
    </thead>
    <tbody id="tbodyDeviceInfo">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.Raw(item.FromDeviceId)</td>
                    <td>@Html.Raw(item.ToDeviceId)</td>
                    <td>@Html.Raw(item.Status)</td>
                    <td>@Html.Raw(item.FromDeviceId)</td>
                    <td>@Html.Raw(item.FreeToken)</td>
                </tr>
            }}
        else
        {
            <tr>
                <td colspan="6"> No record found</td>
            </tr>
        }
    </tbody>
</table>