
@model PrankAWSWebApp.Areas.Admin.Models.ReferralInfoAddEditModel

<form asp-controller="ReferralInfo" asp-action="SaveUpdate" id="frmReferralInfo">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ReferralId)
    @Html.HiddenFor(m => m.ReferralTitle)
    @Html.HiddenFor(m => m.ReferralDesc)

    <div class="form-group row" style="display:none">
        <label class="col-md-4">Referral Code</label>
        <div class="col-md-8 " >
            @Html.TextBoxFor(p => p.ReferralCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ReferralCode, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4">Free Credit Point</label>
        <div class="col-md-8">
            @Html.TextBoxFor(p => p.FreeCreditPoint, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.FreeCreditPoint, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row  text-left" style="display:none;">
        <label class="col-md-4">&nbsp;</label>
        <div class="col-md-8">
            Active @Html.CheckBoxFor(p => p.IsActive)
        </div>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>